<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Viktorina</title>
</head>

<body>
<table border="1px">
    <a href="/quiz/add"> Created new Quiz</a>

    <tr>
        <th>id</th>
        <th>title</th>
        <th>createdDateTime</th>
        <th>action</th>
    </tr>
<tr th:each="quiz:${quizes}">
    <td th:text="${quiz.id}"></td>
    <td><a th:href="@{/quiz/{quizId} (quizId=${quiz.id})}"><span th:text="${quiz.title}"></span></a></td>
    <td th:text="${quiz.createdDateTime}"></td>
    <td><a th:href="@{/quiz/remove(id=${quiz.id})}">Remove</a></td>

</tr>
</table>
<div class="pagination">
    <div th:if="${quizes.totalPages > 0}"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/quiz(size=${quizes.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==quizes.number + 1} ? active"></a>
    </div>
    <a href="/">Back</a>
</div>
</body>
</html>